@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* 
font-family: "Inter", sans-serif;
font-weight: 200; 
*/

#budget_overvågning{
    background-color: white;
    border-radius: 15px;
}

.overskrift_budget_overvågning{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: medium;
    
}

.de_tre_øverste_bokse{
   
    display: flex;
    justify-content: space-between;
}

.budget_boks{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: #969696;
}

.budget_tekst, .budget_beløb{
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 200; 
    font-size: 14px;
}
.budget_tekst{
color: #969696;
}

.budget_beløb{
    font-weight: bold;
}

.tekst_left{
    text-align: left;
}

.betalt_flueben{
    display: flex;
    flex-direction: row;
}

.betalte_florist_brudekjole{


}
.betalte_florist_brudekjole_cards{

}